<nz-layout class="layout">
  <nz-header>
    <img src="assets/img/logo.png" class="logo" alt="">
    <div>
      <a class="issue-link-green" nz-button nzSize="default" target="_blank" href="https://github.com/codefirst-io-tech/team-builder-lib/issues/new" nzType="link">Open Lib Issue</a>

      <a class="issue-link-white" nz-button nzSize="default" target="_blank" href="https://github.com/codefirst-io-tech/team-builder/issues/new" nzType="link">Open UI Issue</a>
    </div>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <div class="table">
        <app-player-table></app-player-table>
      </div>
    </div>
  </nz-content>
  <nz-footer>Bu Kadro Kurucu Öyle Bir Kadro Kurucu Ki
    <a nz-button nzSize="default" target="_blank" href="https://github.com/codefirst-io-tech/team-builder" nzType="link">Github</a>
  </nz-footer>
</nz-layout>
